#grid__card--list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
  gap: 24px;
}

.grid__card {
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.grid__card--img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.grid__card--img::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid__card--img img {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
