.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.container_img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.main_img {
  width: 100%;
  height: 510px;
  border-radius: 10px 0px 0px 10px;
  grid-area: 1 / 1 / 5 / 4;
}
.main_img-sub {
  width: 100%;
  height: 250px;
  grid-area: 1 / 4 / 3 / 6;
}
.main_img-sub-two {
  width: 100%;
  height: 250px;
  border-radius: 0px 10px 0px 0px;
  grid-area: 1 / 6 / 3 / 8;
}
.main_img-sub-three {
  width: 100%;
  height: 250px;
  grid-area: 3 / 4 / 5 / 6;
}
.main_img-for {
  width: 100%;
  height: 250px;
  border-radius: 0px 0px 10px 0px;
  grid-area: 3 / 6 / 5 / 8;
}

@media screen and (max-width: 1270px) {
  .container_img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .main_img {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 0px;
  }

  .main_img-sub,
  .main_img-sub-two,
  .main_img-sub-three,
  .main_img-for {
    display: none;
  }
  .maininfo__left {
    width: 100%;
    padding: 0 20px;
  }
  .maininfo__right {
    display: none;
  }
}
