.container_info {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main_lay {
  width: 628px;
}
h2 {
  width: 628px;
  font-size: 22px;
}
.text_tt {
  font-weight: 300;
}
.hotell_info {
  width: 100%;
  display: flex;
  list-style-type: none;

  padding: 0px;

  margin: 0px;
}
.hotell_info {
  width: 628px;
  padding-bottom: 20px;
}
.hotell_info-sub {
  padding-right: 3px;
}
.hotell_review {
  width: 628px;

  border: 1px solid rgb(211, 206, 206);
  border-radius: 10px;

  display: flex;
  align-items: center;
}
.guest_good {
  text-align: center;
  font-size: 18px;
}
.guest {
  height: 80px;
  display: flex;
  align-items: center;

  padding: 0px 30px;
}
img.guest_img {
  height: 40px;
}
.guest_tag {
  padding-left: 20px;
}
.guest_rating {
  padding-left: 30px;
  padding-right: 10px;
  font-size: 22px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-right: 1px solid rgb(211, 206, 206);
}
.fa-star {
  font-size: 10px;
}
.guest_rivew {
  font-size: 10px;
  display: flex;
  border-bottom: 1px solid rgb(211, 206, 206);
}
.guest_num {
  padding-left: 10px;
  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.guest_star {
  margin: 0px;
  line-height: 0px;
}
.sub_info {
  width: 100%;
  border-bottom: 1px solid rgb(211, 206, 206);

  padding-top: 10px;
  padding-bottom: 10px;
}
.sub_info-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;

  gap: 10px;
  padding: 0px;
  font-size: 14px;
}

.sub_info-list-one {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}
.sub_info-list-two {
  grid-area: 2 / 1 / 3 / 2;
}
.sub_info-list-three {
  grid-area: 3 / 1 / 4 / 2;
}
.sub_info-list-for {
  grid-area: 1 / 2 / 2 / 3;
}
.sub_info-list-five {
  grid-area: 2 / 2 / 3 / 3;
}
.tro {
  height: 20px;
}
.host_info {
  padding-top: 20px;
  display: flex;
  width: 49%;
  border-bottom: 1px solid rgb(211, 206, 206);
}
.host_photo {
  width: 40px;
  height: 40px;

  border-radius: 9999px;
}
.host_name-own {
  font-size: 16px;
  padding-bottom: 5px;
}
.host_name {
  padding-left: 20px;
}
.host_hosting {
  padding-bottom: 15px;
}
.hotels_info-lay {
  display: flex;
}
.hotel_info {
  width: 49%;
  height: 50px;
  font-size: 16px;
  background-color: rgb(211, 206, 206);
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 10px;

  display: flex;
  align-items: center;
}
.hotel_bogi {
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(211, 206, 206);

  margin: 10px;
}
.hotels_info-laaa {
  width: 100%;
  padding-top: 40px;
}
.infooooo {
  width: 100%;
  font-size: 16px;
  padding-top: 25px;
}
.dooooo {
  border-bottom: 1px solid rgb(211, 206, 206);
}
.layyyy {
  width: 49%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(211, 206, 206);
}
h3 {
  font-size: 22px;
  font-weight: 500;
}
.room_photo {
  border-radius: 10px;
}
.room {
  padding-top: 13px;
  padding-bottom: 5px;
}
.ace {
  font-size: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(211, 206, 206);
}
.map_layout {
  border-bottom: 1px solid rgb(211, 206, 206);
  padding-bottom: 20px;
}
.map_doooo {
  border: none;
  border-bottom: 1px solid rgb(211, 206, 206);
  background-color: transparent;
}
h4 {
  font-size: 22px;
}
.place_layout {
  border-bottom: 1px solid rgb(211, 206, 206);
  padding-bottom: 20px;
}
h5 {
  font-size: 22px;
}
.place_info {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(211, 206, 206);
  background-color: transparent;
  padding-top: 10px;
  margin: 0 auto;
}

.hotelsone_info-layout {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.hotel_bogi {
  border-bottom: 1px solid black;
}

.container_card-layout {
  position: relative;
}
